body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.intro {
  margin-top: 11vw;
}

.container {
  width: 85%;
}

/* .photo {
  border-radius: 50%;
} */
html {
  font-size: 14px;
}

h1, h2, h3, h4 {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.title {
  /* font-size: 3rem; */
  margin-top: 0px;
}

.tag {
  font-size: 2.3rem;
  /* margin-top: 0px;
  margin-bottom: 15px; */
}

.content {
  font-size: 1.4rem;
  /* margin-bottom: 40px; */
}

a.btn-large {
  margin-right: 20px;
}

i {
  font-size: 1.8rem;
  padding-right: 20px;
  color: black;
}

.hr1 {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #7C7F7F;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 90%;
}

.hr2 {
  margin-top: 0;
  border-top: 5px solid #212121;
}

main {
  margin-top: 150px;
}

.project-1 {
  margin-top: 150px;
}

.hr1 {
  margin-top: 150px;
  margin-bottom: 150px;
}

.hr3 {
  margin-top: 75px;
  margin-bottom: 75px;
}

.portfolio {
  padding-bottom: 75px;
}

.about {
  padding-top: 75px;

}

.fab, .fas {
  margin-top: 15px;
  font-size: 2.5rem;
}

.app {
  margin-top: 20px;
}

nav {
  box-shadow: none;
}

span {
  font-weight: 100;
}

nav .brand-logo {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 600;
}

nav ul a {
  font-size: 1.5rem;
}

.contact {
  padding-bottom: 150px;
}

.btn-holder {
  padding-top: 40px;
}
